@font-face
{ 
	font-family: 'fontawesome'; 

	src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot'); 
	src: local('fontawesome'),
		 url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), 
		 url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.svg#fontawesome') format('svg'), 
		 url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf') format('truetype'), 
		 url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'), 
		 url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'); 

	font-weight: normal; 
	font-style: normal; 
}

body
{
	position    : relative;
	width       : 100%;
	height      : 100%;
	margin      : 0;        
	font-family : helvetica;        
}

.maincontainer 
{
	position    : relative;
	display     : block;                
	width       : 100vw;
	height      : 100vh;

	background  : rgba(207,207,207,1);
	background  : -moz-linear-gradient(-45deg, rgba(207,207,207,1) 0%, rgba(237,237,237,1) 21%, rgba(224,224,224,1) 39%, rgba(235,235,235,1) 61%, rgba(214,214,214,1) 80%, rgba(237,237,237,1) 100%);
	background  : -webkit-gradient(left top, right bottom, color-stop(0%, rgba(207,207,207,1)), color-stop(21%, rgba(237,237,237,1)), color-stop(39%, rgba(224,224,224,1)), color-stop(61%, rgba(235,235,235,1)), color-stop(80%, rgba(214,214,214,1)), color-stop(100%, rgba(237,237,237,1)));
	background  : -webkit-linear-gradient(-45deg, rgba(207,207,207,1) 0%, rgba(237,237,237,1) 21%, rgba(224,224,224,1) 39%, rgba(235,235,235,1) 61%, rgba(214,214,214,1) 80%, rgba(237,237,237,1) 100%);
	background  : -o-linear-gradient(-45deg, rgba(207,207,207,1) 0%, rgba(237,237,237,1) 21%, rgba(224,224,224,1) 39%, rgba(235,235,235,1) 61%, rgba(214,214,214,1) 80%, rgba(237,237,237,1) 100%);
	background  : -ms-linear-gradient(-45deg, rgba(207,207,207,1) 0%, rgba(237,237,237,1) 21%, rgba(224,224,224,1) 39%, rgba(235,235,235,1) 61%, rgba(214,214,214,1) 80%, rgba(237,237,237,1) 100%);
	background  : linear-gradient(135deg, rgba(207,207,207,1) 0%, rgba(237,237,237,1) 21%, rgba(224,224,224,1) 39%, rgba(235,235,235,1) 61%, rgba(214,214,214,1) 80%, rgba(237,237,237,1) 100%);
	filter      : progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#ededed', GradientType=1 );
}

.maincontainer .listbox 
{
	position            : absolute;
	display             : block;
	
	width               : 60vw;
	height              : 30.5vh;

	margin              : auto;
	padding             : 0;
	padding-inline-start: 0;

	border-top          : 0.5vh solid #888;
	border-left         : 0.5vh solid #888;
	border-bottom       : 0.5vh solid #eee;            
	border-right        : 0.5vh solid #eee;   

	-moz-box-shadow     : 1vh 1vh 2vh #888;     
	-webkit-box-shadow  : 1vh 1vh 2vh #888;     
	box-shadow          : 1vh 1vh 2vh #888;     
					
	top                 : 50%;
	left                : 50%;

	transform           : translateY(-50%) translateX(-50%);
	-ms-transform       : translateY(-50%) translateX(-50%);
	-moz-transform      : translateY(-50%) translateX(-50%);
	-webkit-transform   : translateY(-50%) translateX(-50%);
	-o-transform        : translateY(-50%) translateX(-50%);

	background: rgba(45,134,156,0.52);
	background: -moz-linear-gradient(45deg, rgba(45,134,156,0.52) 0%, rgba(96,202,232,0.52) 25%, rgba(71,177,204,0.51) 50%, rgba(96,202,232,0.5) 76%, rgba(73,165,191,0.5) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(45,134,156,0.52)), color-stop(25%, rgba(96,202,232,0.52)), color-stop(50%, rgba(71,177,204,0.51)), color-stop(76%, rgba(96,202,232,0.5)), color-stop(100%, rgba(73,165,191,0.5)));
	background: -webkit-linear-gradient(45deg, rgba(45,134,156,0.52) 0%, rgba(96,202,232,0.52) 25%, rgba(71,177,204,0.51) 50%, rgba(96,202,232,0.5) 76%, rgba(73,165,191,0.5) 100%);
	background: -o-linear-gradient(45deg, rgba(45,134,156,0.52) 0%, rgba(96,202,232,0.52) 25%, rgba(71,177,204,0.51) 50%, rgba(96,202,232,0.5) 76%, rgba(73,165,191,0.5) 100%);
	background: -ms-linear-gradient(45deg, rgba(45,134,156,0.52) 0%, rgba(96,202,232,0.52) 25%, rgba(71,177,204,0.51) 50%, rgba(96,202,232,0.5) 76%, rgba(73,165,191,0.5) 100%);
	background: linear-gradient(45deg, rgba(45,134,156,0.52) 0%, rgba(96,202,232,0.52) 25%, rgba(71,177,204,0.51) 50%, rgba(96,202,232,0.5) 76%, rgba(73,165,191,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d869c', endColorstr='#49a5bf', GradientType=1 );
}          

.maincontainer .listbox li
{
	position        : relative;
	cursor          : pointer;
	display         : block;
	text-align      : center;
	font-size       : 3.5vh;
	width           : 100%;
	height          : calc((100% - 2.5vh) / 5);
	border-bottom   : 0.1vh solid #eee; 
	line-height     : 170%;
}

.maincontainer .listbox li:first-child
{
	margin-top      : 1vh;
}

.maincontainer .listbox li:last-child
{
	margin-bottom   : 1vh;
	border-bottom   : none;
}

.maincontainer .listbox li:hover
{
	background  : #faffd1;
	color       : #f00;
}

.maincontainer .listbox li[fa-active]
{
	font-weight : bold;
}

.maincontainer .listbox li[fa-active]:before
{
	position    : absolute;
	left        : 2vw;
	top         : 0.9vh;
	font        : 4vh fontawesome;
	content     : '\f0da';
}

@media screen and (min-device-width : 768px) 
{
	.maincontainer .listbox 
	{
		width               : 300px;
		height              : 200px;     
		border-top          : 3px solid #888;
		border-left         : 3px solid #888;
		border-bottom       : 3px solid #eee;            
		border-right        : 3px solid #eee;     
		
		-moz-box-shadow     : 5px 5px 10px #888;     
		-webkit-box-shadow  : 5px 5px 10px #888;     
		box-shadow          : 5px 5px 10px #888;     
	}
	
	.maincontainer .listbox li
	{   
		font-size       : 16pt;                             
		line-height     : 150%;                                                
		height          : calc((100% - 20px) / 5);
		border-bottom   : 1px solid #eee;
	}

   .maincontainer .listbox li:first-child
   {
		margin-top      : 10px;
   }

   .maincontainer .listbox li:last-child
   {
		margin-bottom   : 10px;
		border-bottom   : none;
   }   
   
   .maincontainer .listbox li[fa-active]:before
	{                    
		left        : 10px;
		top         : 5px;
		font        : 16pt fontawesome;                 
	}             
}

.popupoverlay
{
	position            : fixed;
	top                 : 0vh;
	left                : 100vw;
	width               : 100%;
	height              : 100%;
	background          : rgba(0,0,0,0.5);
	opacity             : 0;

	-webkit-transition  : left 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-moz-transition     : left 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-o-transition       : left 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-ms-transition      : left 0.5s ease-in-out, opacity 0.5s ease-in-out;
	transition          : left 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.popupoverlay[fa-show]
{
	left                : 0vw;
	opacity             : 1;
}

.popupoverlay .popupbox
{
	position            : relative;
	display             : block;                

	width               : 80vw;
	height              : 25vh;

	background          : #eee;

	top                 : 50%;
	left                : 50%;

	transform           : translateY(-50%) translateX(-50%);
	-ms-transform       : translateY(-50%) translateX(-50%);
	-moz-transform      : translateY(-50%) translateX(-50%);
	-webkit-transform   : translateY(-50%) translateX(-50%);
	-o-transform        : translateY(-50%) translateX(-50%);

	-moz-box-shadow     : 0vh 0vh 2vh #fff;     
	-webkit-box-shadow  : 0vh 0vh 2vh #fff;     
	box-shadow          : 0vh 0vh 2vh #fff;     
}

.popupoverlay .popupbox .title
{
	width               : 100%;
	height              : 6vh;

	background          : #0973a7;
	color               : #ddd;
	
	font-size           : 2.5vh;
	font-weight         : bold;
	text-align          : center;  
	line-height         : 200%;  
}

.popupoverlay .popupbox .closebuttondiv
{
	position            : absolute;

	width               : auto;
	height              : 6vh;

	top                 : 0;
	right               : 20px;
	padding-top         : 0.5vh;

	-webkit-box-sizing  : border-box;
	-moz-box-sizing     : border-box;
	-ms-box-sizing      : border-box;
	-o-box-sizing       : border-box;
	box-sizing          : border-box;
}

.popupoverlay .popupbox .closebuttondiv a
{
	-moz-box-shadow     : inset 0 0.3vh 0 0 #f5978e;
	-webkit-box-shadow  : inset 0 0.3vh 0 0 #f5978e;
	box-shadow          : inset 0 0.3vh 0 0 #f5978e;

	background-color    : #f24537;
	background          : -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
	background          : -moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background          : -webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background          : -o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background          : -ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background          : linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	filter              : progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
			
	-webkit-border-radius   : 50%;
	-moz-border-radius      : 50%;
	-ms-border-radius       : 50%;
	-o-border-radius        : 50%;
	border-radius           : 50%;

	border                  : 0.1vh solid #d02718;
	display                 : inline-block;
	cursor                  : pointer;
	color                   : #ffffff;	
	font                    : 3vh "FontAwesome";		            
	padding                 : 0;
	text-decoration         : none;
	text-shadow             : 0 0.6vw 0 #810e05;
	line-height             : 150%;
	width                   : 5vh;
	height                  : 5vh;

	-webkit-box-sizing      : border-box;
	-moz-box-sizing         : border-box;
	-ms-box-sizing          : border-box;
	-o-box-sizing           : border-box;
	box-sizing              : border-box;

	-webkit-touch-callout   : none;
	-webkit-user-select     : none;
	-khtml-user-select      : none;
	-moz-user-select        : none;
	-ms-user-select         : none;
	user-select             : none;        
}

.popupoverlay .popupbox .closebuttondiv a:active
{
	position                : relative;
	top                     : 0.2vh;
}

.popupoverlay .popupbox .content
{
	width                   : 95%;
	height                  : 8vh;
	margin                  : 2vh auto 2vh auto;                                

	text-align              : center;
	font-size               : 3vh;
	padding-top             : 2vh;

	-webkit-box-sizing      : border-box;
	-moz-box-sizing         : border-box;
	-ms-box-sizing          : border-box;
	-o-box-sizing           : border-box;
	box-sizing              : border-box;

	color                   : #555;
}

.popupoverlay .popupbox .buttondiv
{
	width                   : 100%;
	height                  : auto;                
	text-align              : center;
}

.popupoverlay .popupbox .buttondiv a
{    
	-moz-box-shadow         : inset 0 0.3vh 0 0 #a4e271;
	-webkit-box-shadow      : inset 0 0.3vh 0 0 #a4e271;
	box-shadow              : inset 0 0.3vh 0 0 #a4e271;
	
	background-color        : #89c403;
	background              : -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
	background              : -moz-linear-gradient(top, #89c403 5%, #77a809 100%);
	background              : -webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
	background              : -o-linear-gradient(top, #89c403 5%, #77a809 100%);
	background              : -ms-linear-gradient(top, #89c403 5%, #77a809 100%);
	background              : linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	filter                  : progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
		
	-webkit-border-radius   : 5%;
	-moz-border-radius      : 5%;
	-ms-border-radius       : 5%;
	-o-border-radius        : 5%;
	border-radius           : 5%;

	border                  : 0.1vh solid #74b807;
	display                 : inline-block;
	cursor                  : pointer;
	color                   : #ffffff;	
	font-size               : 2.5vh;
	font-weight             : bold;
	padding                 : 1vh 4vw;
	text-decoration         : none;
	text-shadow             : 0 0.3vh 0 #528009;                
	min-width               :23vw;
	min-height              :3vh;

	-webkit-touch-callout   : none;
	-webkit-user-select     : none;
	-khtml-user-select      : none;
	-moz-user-select        : none;
	-ms-user-select         : none;
	user-select             : none;        
}

.popupoverlay .popupbox .buttondiv a:hover 
{
	background              : -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
	background              : -moz-linear-gradient(top, #77a809 5%, #89c403 100%);
	background              : -webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
	background              : -o-linear-gradient(top, #77a809 5%, #89c403 100%);
	background              : -ms-linear-gradient(top, #77a809 5%, #89c403 100%);
	background              : linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	filter                  : progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
	background-color        : #77a809;
}

.popupoverlay .popupbox .buttondiv a:active 
{
	position        : relative;
	top             : 0.2vh;
}

@media screen and (min-device-width : 768px) 
{
	.popupoverlay .popupbox
	{
		width       : 350px;
		height      : 180px;
	}

	.popupoverlay .popupbox .title
	{
		height      : 35px;
		font-size   : 12pt;
	}

	.popupoverlay .popupbox .closebuttondiv
	{
		height          : 30px;
		right           : 5px;
		padding-top     : 2px;
	}

	.popupoverlay .popupbox .closebuttondiv a
	{
	   width                : 28px;
	   height               : 28px;
	   font                 : 14pt "FontAwesome";	
	   line-height          : 125%;
	   
	   -moz-box-shadow      : inset 0 2px 0 0 #f5978e;
		-webkit-box-shadow  : inset 0 2px 0 0 #f5978e;
		box-shadow          : inset 0 2px 0 0 #f5978e;

		text-shadow         : 0 4px 0 #810e05;
	}

	.popupoverlay .popupbox .content
	{
		height              : 80px;
		margin              : 10px auto 10px auto;
		padding-top         : 30px;
		font-size           : 14pt;
	}

	.popupoverlay .popupbox .buttondiv a
	{
		-moz-box-shadow     : inset 0 2px 0 0 #a4e271;
		-webkit-box-shadow  : inset 0 2px 0 0 #a4e271;
		box-shadow          : inset 0 2px 0 0 #a4e271;

		min-width           : 50px;
		min-height          : 20px;

		
		padding             : 5px 20px;

		font-size           : 12pt;
		line-height         : 150%;
	}
}